@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
    "second-primary": #cfd4da,
    // "second-primary": #eaf1fb,
));

.bg-yellow {
    background-color: $yellow !important;
}

.bg-green {
    background-color: $green !important;
}

.bg-red{
    background-color: $red !important;

}

.bg-blue{
    background-color: $blue !important;
}

.bg-orange{
    background-color: $orange !important;
}

.bg-purple{
    background-color: $purple !important;
}

// set changes
@import "bootstrap";